<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->


    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/service/companyinfoService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/companyinfoController.js"></script>

</head>
<body ng-app="axbt" ng-controller="companyinfoController" ng-init="findInfo()">
<div class="container-fluid">
    <div class="row" style="background: #1b629c">
        <div class="col-md-12" style="height: 120px;">

            <img src="/img/logo.png" style="width: 300px;height: 60px;margin-top: 30px;float: left">
            <h2 style="color: #f8fafc;line-height: 80px;">&emsp;|就业信息网</h2>
        </div>
    </div>
    <div class="row" style="background: #2769A6">
        <div class="col-md-10 col-md-offset-1" style="height: 45px;color: #ffffff;line-height: 45px;">
            <div class="col-md-2 text-center" onmouseover="this.style.background='#74b4f9'" onmouseout="this.style.background='#2769A6'">
                <a href="#" onclick="location.href='/index.html'" style="color: #ffffff;">首页</a>
            </div>
            <div class="col-md-2 text-center" onmouseover="this.style.background='#74b4f9'" onmouseout="this.style.background='#2769A6'">
                <a href="#" onclick="location.href='/page/companyinfo.html'" style="color: #ffffff;">招聘信息</a>
            </div>
            <div class="col-md-2 text-center" onmouseover="this.style.background='#74b4f9'" onmouseout="this.style.background='#2769A6'">
                <a href="#" onclick="location.href='/page/graduateinfo.html'" style="color: #ffffff;">毕业生信息</a>
            </div>
            <div class="col-md-2 text-center" onmouseover="this.style.background='#74b4f9'" onmouseout="this.style.background='#2769A6'">
                <a href="#" onclick="location.href='/page/searchcompanyinfo.html'" style="color: #ffffff;">信息查询</a>
            </div>
            <!--<div class="col-md-2 text-center" onmouseover="this.style.background='#74b4f9'" onmouseout="this.style.background='#2769A6'">
                <a href="#" style="color: #ffffff;">统计分析</a>
            </div>-->
            <div class="col-md-2 text-center" onmouseover="this.style.background='#74b4f9'" onmouseout="this.style.background='#2769A6'">
                <a href="#" onclick="location.href='/login.html'" style="color: #ffffff;">管理员登录</a>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div style="width: 1200px;margin: 20px auto">
        <div style="width: 882px;float: left;border: 1px #e5e5e5 solid;">
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="sorting">序号</th>
                    <th class="sorting">单位名称</th>
                    <th class="sorting">单位地点</th>
                    <th class="sorting">单位性质</th>
                    <th class="sorting">单位类型</th>
                    <th class="sorting">发布人</th>
                    <th class="sorting">所在部门</th>
                    <th class="sorting">联系方式</th>
                    <!--<th class="sorting">单位简介</th>
                    <th class="sorting">招聘专业</th>
                    <th class="sorting">学历要求</th>
                    <th class="sorting">需求人数</th>
                    <th class="sorting">招聘方式</th>
                    <th class="sorting">招聘会</th>
                    <th class="sorting">是否发布</th>
                    <th class="sorting">有效期</th>	-->

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in list" ng-click="findCompanyInfo(entity.id)" style="cursor: pointer;">

                    <td>{{entity.id}}</td>
                    <td>{{entity.name}}</td>
                    <td>{{entity.address}}</td>
                    <td>{{entity.nature}}</td>
                    <td>{{entity.type}}</td>
                    <td>{{entity.publisher}}</td>
                    <td>{{entity.depart}}</td>
                    <td>{{entity.phone}}</td>

                </tr>
                </tbody>
            </table>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>

        <!--右边就业指导栏-->
        <div style="width: 281px;float: right;border: 1px #e5e5e5 solid;">
            <div style="width: 280px;height: 40px;line-height: 40px;border-bottom: 1px #e5e5e5 solid">
                <span style="padding-left: 10px;font-weight: bold;">就业指导</span>
            </div>
            <!--循环开始-->
            <div style="width: 280px;height: 50px;line-height: 20px;border-bottom: 1px #e5e5e5 solid;overflow: hidden" ng-repeat="information in informationlist">
                <a href="#" ng-click="findInformationInfo(information.id)">
                    <div style="width: 218px;float: left;margin-top:5px;font-size:13px;color: #858585;padding-left: 10px;padding-right:10px;overflow:hidden">{{information.title}}</div>
                    <div style="width: 60px;padding-right:10px;line-height:35px;float: right;overflow: hidden">{{information.publishDate|date:'MM-dd'}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 15px;margin-bottom: 10px;text-align: center;">
        <div class="col-md-12" style="color: #626262;line-height: 20px;font-size: 16px;">
            版权所有@太原科技大学就业信息网
        </div>
    </div>
</div>
</body>
</html>
